.tilte{
    font-size: 75px;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #333;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .content {
    flex: 3;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }