.header3{
    background-color: #292d31;
    color:#fff;
    height:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.item{
    padding-right: 10px;
    align-items: center;
}

.logo{
    padding-right: 30px;
    font-size: 30px
}

.gio_hang{
    margin-left: 20px;
}

.dang_nhap{
    margin-left: 20px;
}
.dssp{
    margin-left: auto;
}

.dangXuat{
    margin-left: 10px;
}
.user{
    margin-left: 10px;
}