.header1{
    background-color: #292d31;
    color:#fff;
    height:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px 20px;
    text-align: left;
    position: relative;
    
}

.item{
    background-color: transparent;
    border: 0 none;
    color: var(--font-color);
    display: block;
    font-size: 17px;
    line-height: 1.45;
    padding: 15px 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}

.logo{
    padding-right: 30px;
    font-size: 30px
}

.gio_hang{
    margin-left: 20px;
}

.dang_nhap{
    margin-left: 20px;
}
.dssp{
    margin-left: auto;
}

.dangXuat{
    margin-left: 10px;
}
.user{
    margin-left: 10px;
}