
.button{
    display: flex;
    flex-direction: row;

}
.tab_button_active{
    background-color: antiquewhite;
}
.tab_button_passive{
    width: 25%;
    cursor: pointer;
}
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}