.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.item{
    width: 25%;
}

.ket_qua_tim_kiem{
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
}
.item_tim_kiem{
    width: 20%;
}