.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border-style: none;
    height: auto;
    max-width: 100%;
    opacity: 1;
    overflow: hidden;

}

.item{
    width: 25%;
}
.ket_qua_tim_kiem{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border-style: none;
    height: auto;
    max-width: 100%;
    opacity: 1;
    overflow: hidden;
}
.item_tim_kiem{
    width: 20%;
}