.footer1{
    background-color: #292d31;
    color:#fff;
    height:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px 20px;
    text-align: left;
    position: relative;
}
.item{
    padding-right: 10px;
}
.logo{
    padding-right: 30px;
    font-size: 30px
}
.donate{
    margin-left: auto;
}

.youtube{
    margin-left: 10px;
}
