.css{
    margin:10px;
    flex: auto;
}

.img {
        background: #F1F1FA;
        align-items: center;
        display: block;
        margin: 10px auto;
        border: 0;
      }
      

.app{
    margin: 0 auto;
    align-items: center;
}