.item{
    width: 20%;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
}
.item_tilte{
    font-size: larger;
    color:red;

}


.gia{
    font-style: italic;
}

.gia_cu_the{
    text-decoration: underline;
}